@model SafetyRecorder.Entities.SafetyObservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SafetyObservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Observer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherParticipant.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherParticipant.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObserverId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObserverId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObservedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherParticipantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherParticipantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
